<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

# Block access to dot files (.env, .git, etc.)
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>
